{{ form_start(form, {attr: {novalidate: 'novalidate'}})}}
   <table>
         <tr>
    <td>{{form_label(form.adrmail,"Email")}}</td>
    
    <td>{{form_widget(form.adrmail,{ 'attr': {'class': 'form-control'} })}}</td>
    
    <td>{{form_errors(form.adrmail)}}</td>
   </tr>

         <tr>
    <td>{{form_label(form.mdp,"Password")}}</td>
    
    <td>{{ form_widget(form.mdp, {'attr': {'class': 'form-control my-2', 'type': 'password'}}) }}</td>
    
    <td>{{form_errors(form.mdp)}}</td>
   </tr>

   </table>
   
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center my-2">
    <button class="btn btn-primary">{{ button_label|default('Sign in') }}</button>
    </div>
{{ form_end(form) }}
