{% extends 'base.html.twig' %}

{% block title %}Reponse index{% endblock %}

{% block body %}
    <h1>Reponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.id }}</td>
                <td>{{ reponse.date ? reponse.date|date('Y-m-d') : '' }}</td>
                <td>{{ reponse.contenu }}</td>
                <td>
                    <a href="{{ path('app_reponse_show', {'id': reponse.id}) }}"><button class="btn btn-secondary"> Show </button></a>
                    <a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}"><button class="btn btn-warning"> Edit </button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
