{% extends 'templateFront.html.twig' %}

{% block title %}Propositionlivre index{% endblock %}

{% block body %}
    <h2>Propositionlivre </h2>
    <br>
    <a href="{{ path('app_propositionlivre_new') }}">Create new</a>

    <table class="table">
        <thead>
        <tr>
            <th>Idpropositionlivre</th>
            <th>Titrelivre</th>
            <th>Editon</th>
            <th>Dateproposition</th>
            <th>Descriptionetat</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for propositionlivre in propositionlivres %}
            <tr>
                <td>{{ propositionlivre.idpropositionlivre }}</td>
                <td>{{ propositionlivre.titrelivre }}</td>
                <td>{{ propositionlivre.editon }}</td>
                <td>{{ propositionlivre.dateproposition ? propositionlivre.dateproposition|date('Y-m-d') : '' }}</td>
                <td>{{ propositionlivre.descriptionetat }}</td>
                <td>
                    <a href="{{ path('app_propositionlivre_show_my_proposition', {'idpropositionlivre': propositionlivre.idpropositionlivre}) }}">show</a>
                    <a href="{{ path('app_propositionlivre_edit', {'idpropositionlivre': propositionlivre.idpropositionlivre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
