{{ form_start(form, {attr: {novalidate: 'novalidate'}})}}
   <table>
         <tr>
    <td>{{form_label(form.type,"type")}}</td>
    
    <td>{{form_widget(form.type,{ 'attr': {'class': 'form-control'} })}}</td>
    
    <td>{{form_errors(form.type)}}</td>
   </tr>

         <tr>
    <td>{{form_label(form.sujet,"sujet")}}</td>
    
    <td>{{form_widget(form.sujet,{ 'attr': {'class': 'form-control my-2'} })}}</td>
    
    <td>{{form_errors(form.sujet)}}</td>
   </tr>

           <tr>
    <td>{{form_label(form.description,"description")}}</td>
    
    <td>{{form_widget(form.description,{ 'attr': {'class': 'form-control my-2'} })}}</td>
    
    <td>{{form_errors(form.description)}}</td>
   </tr>

         
          



   </table>
   
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center my-2">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
