{% extends 'templateFront.html.twig' %}


{% block title %}New Detailslivraison{% endblock %}

{% block body %}
    <h1>Accepter une proposition</h1>



    <table class="table">
        <tbody>

        <tr>
        <tr>
            <th>Id estimationoffrelivre</th>
            <td>{{ estimationoffrelivre.idestimationoffrelivre }}</td>
        </tr>
        <th>Id propositionlivre</th>
        <td>{{ estimationoffrelivre.idproposition.idpropositionlivre }}</td>
        </tr>
        <tr>
            <th>Titre livre</th>
            <td>{{ estimationoffrelivre.idproposition.titrelivre }}</td>
        </tr>
        <tr>
            <th>Editon</th>
            <td>{{ estimationoffrelivre.idproposition.editon }}</td>
        </tr>
        <tr>
            <th>Date proposition</th>
            <td>{{ estimationoffrelivre.idproposition.dateproposition ? estimationoffrelivre.idproposition.dateproposition|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Description etat</th>
            <td>{{ estimationoffrelivre.idproposition.descriptionetat }}</td>
        </tr>


        <tr>
            <th>Pointestime</th>
            <td>{{ estimationoffrelivre.pointestime }}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{ estimationoffrelivre.etat }}</td>
        </tr>
        </tbody>
    </table>


    {{ include('detailslivraison/_form.html.twig') }}

    <a href="{{ path('app_detailslivraison_index') }}">back to list</a>
{% endblock %}
