{% extends 'templateFront.html.twig' %}

{% block title %}Estimationoffrelivre index{% endblock %}

{% block body %}
    <h1>Estimationoffrelivre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idestimationoffrelivre</th>
                <th>Idpropositionlivre</th>
                <th>Titrelivre</th>
                <th>Dateproposition</th>
                <th>Pointestime</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estimationoffrelivre in estimationoffrelivres %}
            <tr>
                <td>{{ estimationoffrelivre.idestimationoffrelivre }}</td>
                <td>{{ estimationoffrelivre.idproposition.idpropositionlivre }}</td>
                <td>{{ estimationoffrelivre.idproposition.titrelivre }}</td>
                <td>{{ estimationoffrelivre.idproposition.dateproposition ? estimationoffrelivre.idproposition.dateproposition|date('Y-m-d') : '' }}</td>
                <td>{{ estimationoffrelivre.pointestime }}</td>
                <td>{{ estimationoffrelivre.etat }}</td>
                <td>
                    <a href="{{ path('myEstimation', {'idestimationoffrelivre': estimationoffrelivre.idestimationoffrelivre}) }}">show</a>
                    <a href="{{ path('app_estimationoffrelivre_edit', {'idestimationoffrelivre': estimationoffrelivre.idestimationoffrelivre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
