{% extends 'templateFront.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
    {% if items | length >0 %}
    <table class="table">
        <thead>
        <tr>
              <th>Livre</th>
              <th>Prix</th>
              <th>Quantité</th>
              <th>Total</th>
              <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.livre.titre }}</td>
            <td>{{ item.livre.prix }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.livre.prix * item.quantity }}</td>
            <td>
                <a href="{{ path('panier_remove',{'id': item.livre.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
             <td colspan="3" class="text-right">Total:</td>
             <td>{{ total }}</td>
             <td></td>
        </tr>
        </tfoot>
    </table>



    {% else %}
    <p>Votre panier est vide !</p>
    {% endif %}
    <form method="post" action="{{ path('panier_pdf') }}">
        <button type="submit" class="btn btn-primary mt-3">Générer PDF</button>
    </form>
{% endblock %}